*{
/*background-color: rgb(40,40,40);*/
}

row{
  background-color: rgb(255,255,255);
  
}

body{
  width: 80%;
   

}

.plotly html-widget html-widget-static-bound js-plotly-plot{
  box-sizing: border-box;
}
.graphEC{
  position: relative;
  height: 480px;
  width: 440px;
}
.fluid-row{
  background-color: rgb(100,100,100);
}

h2{
  padding: 10px;
  background-color: #7DAFEB;
}
.tocify{
  box-sizing: border-box;
  color: Black;
}
.fluid-row .title{
  font-weight: bold;
}
.introduction{
    position: relative;
    font-family: 'Helvetica';
    text-justify: inter-word;
    text-align: justify;
    font-size: 18px;
   
}
.analysis{
   position: relative;
    font-family: 'Helvetica';
    text-justify: inter-word;
    text-align: justify;
    font-size: 18px;
}

.ageChart{
  size: 40%;
}
img{
  padding: 10px;
}
a{
     position: relative !important;
    font-family: 'Helvetica' !important;
    text-justify: inter-word !important;
    text-align: justify !important;
    font-size: 18px !important;
    color: black !important;
    margin-bottom: 10px !important;
}
a:hover{
  color: blue !important;
  text-decoration: underline !important;
}
