@font-face {
    font-family: 'Hartwell Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Thin'), url(./sources/fonts/Hartwell Thin.woff) format('woff');
    }
@font-face {
    font-family: 'Hartwell Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Regular'), url(./sources/fonts/Hartwell Regular.woff) format('woff');
    }
    
row{
  background-color: rgb(255,255,255);
  
}
h3{
  margin-bottom: 15px;
  padding: 10px;
  background-color: #DCE9F9;
}

.toc-content{
  background-color: rgb(255, 255, 255);
}
body{
  width: 80%;
  background-color: #DCE9F9;
   

}

.plotly html-widget html-widget-static-bound js-plotly-plot{
  box-sizing: border-box;
}
.graphEC{
  position: relative;
  height: 480px;
  width: 440px;
}
.fluid-row{
  background-color: rgb(100,100,100);
}

h2{
  
  padding: 10px;
  background-color: #7DAFEB;
}
.tocify{
  box-sizing: border-box;
  color: Black;
}
.fluid-row .title{
  font-weight: bold;
}
.introduction{
    position: relative;
    font-family: 'Hartwell Regular';
    text-justify: inter-word;
    text-align: justify;
    font-size: 18px;
   
}
.analysis{
   position: relative;
    font-family: 'Hartwell Regular';
    text-justify: inter-word;
    text-align: justify;
    font-size: 18px;
}
.ageChart{
  size: 40%;
}
img{
  padding: 10px;
}
.links{
     position: relative;
    font-family: 'Hartwell Thin';
    text-justify: inter-word;
    text-align: justify;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}
.links:hover{
  font-family: 'Hartwell Regular';
  size: 130%;
  color: #7DAFEB;
  text-decoration: none;
  
}
.foot{
  height: 200px;
}
